.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    height: 100%;
    width: 100%;
    background-color: #C886E5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formContainer {
    height: auto;
    width: 40%;
    background-color: #F9F9F9;
    border-radius: 20px;
    margin-right: 10%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.formContainer a {
    text-decoration: none;
    color: #000000;
    margin: 2% 0%;
}

.fields {
    margin-top: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.field-input {
    margin-top: 1%;
    padding: 1.25%;
    border: solid 1.5px #C886E5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
}

.register {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.submit {
    padding: 4% 3%;
    border: solid 1.5px rgb(200,134,229);
    border-radius: 8px;
    background-color: #ffffff;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.submit:hover {
    background-color: rgba(200,134,229,0.2);
    cursor: pointer;
}

.circle1 {
    position: absolute;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
    width: 60vh;
    height: 60vh;
    left: -5%;
    bottom: -10%;
    background: rgba(202, 173, 222, 0.5);
    z-index: 2;
    overflow: hidden;
}

.circle2 {
    position: absolute;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
    width: 40vh;
    height: 40vh;
    left: 38%;
    top: 4%;
    background: rgba(246, 236, 191, 0.1);;
    z-index: 2;
    overflow: hidden;
}

.container h1 {
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 5%;
    z-index: 3;
    font-family: 'Playfair Display', serif;
    height: 100px;
    font-size: 3rem;
    font-weight: normal;
}

.emphasise {
    color: rgb(246, 236, 191);
    font-size: 4rem;
    font-weight: bold;
}

.error {
    font-size: 0.8rem;
    color: red;
}

@media only screen and (max-width: 1095px) {
    .formContainer {
        width: 80%;
    }

    .fields {
        margin-top: 2%;
    }

    h1 {
        display: none;
    };
  }

  @media only screen and (max-width: 1095px) and (min-width: 655px) {
    
    .formContainer {
        width: 50%;
        margin-right: 25%;
    }
  }